<div class="container" [formGroup]="form">
  <h1>Components Examples</h1>

  <ul>
    <li>
      <app-text-field class="text-field__cc" style="margin-bottom: 20px;display: block;">
        <input type="text" text-field formControlName="input">
      </app-text-field>
    </li>
    <li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam impedit repellendus cupiditate rerum, ab at enim possimus, est nihil minus laudantium labore? Sapiente unde aliquam quaerat accusantium. Harum, atque distinctio.</p>
    </li>
    <li>
      <app-select formControlName="select" [modifiers]="['selecMod']">
        <div class="select-btn">Items</div>
        <option *ngFor="let item of listItens" select-option [value]="item.value">{{ item.label }}</option>
      </app-select>
    </li>
    <li>
      <app-checkbox class="checkbox--toop" [modifiers]="['teste']">
        <input checkbox type="checkbox" name="sexo" formControlName="checkbox">
        Termos de uso
      </app-checkbox>
    </li>
    <li>
      Value: {{ form.value | json }} - {{ form.valid }}
    </li>
  </ul>
</div>